
.about-grid {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 40px;
  align-items: start;
}

 .about-text {
  padding: 0 clamp(0.5rem, 0.3rem + 1.3vw, 2rem);
}

#about p {
  text-align: left;
  color: var(--text-muted);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: clamp(0.72rem, 0.75rem + 0.5vw, 0.97rem);
  line-height: 1.8;
  font-weight: 400;
}

#about strong {
  color: var(--color-tertiary);
  font-weight: 600;

}

#about p + p {
  margin-top: 1rem;
}

.about-card {
  background: var(--about-card);
  border: 1px solid var(--sombra);
  font-family: "IBM Plex Mono", Courier, monospace;
  border-radius: 22px;
  padding: 28px;
  width: 100%;
}
.about-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 18px;
  color: var(--texto)
}
.about-list li {
  display: flex;
  align-items:center;
  font-size: clamp(0.5rem, 0.55rem + 0.4vw, 0.97rem);
  font-family: "IBM Plex Sans", monospace;
  gap: 12px;
  padding: 11px 0;
  color: var(--text-muted);
  border-bottom: 1px solid var(--color-secondary);
}
.about-list li:last-child {
  border-bottom: none;
}
.check {
  color: var(--color-primary);
  font-weight: 100;
  font-size: 1.2rem;

}

@media (max-width: 920px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}
