#inicio{
    position: relative;
    font-family:'IBM Plex Sans', Courier, monospace;
}



#text{
    width:70%;
    justify-items: left;
    display: flex;
    flex-direction: column;
}

#inicio h2{
     font-size:clamp(2rem, 2.3vw + 1rem, 3.1rem);
     letter-spacing: 0.03em;
    color:var(--color-primary);
}
#inicio h1{
    font-size:clamp(2.1rem, 2vw + 1rem, 2.9rem);
    letter-spacing: 0.03em;
    color:var(--texto)
}

#inicio h3{margin-top:0.8rem;
    width:70%;
    max-width:600px;
    font-weight:400;
    line-height: 1.6;
    color:var(--color-secondary);
    opacity:.85;
    text-shadow:none;
    font-size:clamp(0.79rem, 1vw + 0.24rem, 1.3rem);
}
#inicio .cargo {
    display: inline-flex;
    width:min-content;
    padding:.6rem 1rem;
    border-radius:30px;

    background:var(--inicio-cargo_fundo);
    border:var(--inicio-cargo_border);
}

#inicio .cargo code {
    margin:0;
    color: var(--color-primary);

    font-family: 'Source Code Pro', monospace;
    font-size: clamp(0.68rem, 0.6vw + 0.48rem, 1.5rem);
    font-weight: 700;
    letter-spacing: 0.09em;

    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    border-right: 2px solid currentColor;

    animation:
        typing 2.5s steps(30, end) forwards,
        cursor 0.8s step-end infinite;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}

#inicio h2,#inicio h3, #inicio .cargo{
    margin:0;
    margin-bottom:2.5%;
}

#inicio .section-container img{
    width: clamp(9rem, 21vw, 19rem);
    aspect-ratio:1/1;
    border-radius:50%;
    padding:8px;
    position:absolute;
    right:0;
    top:5%;
    transition:
        transform .35s ease-in-out;
}

#inicio img:hover{
    transform: translateY(-4px);
}

#inicio #links-grupo{
    display: flex;
    flex-direction: row;
    width:95%;
    gap: 1rem;
    margin-top:2%;
    margin-left:1%;

}

#inicio a{
    border-radius:10px;
    border:1px solid var(--inicio-btn1_fundo);
    display:flex;
    min-width:20%;
    gap:0.7em;
    padding:0.55em;

    text-align: center;
    justify-content:center;
    text-decoration: none;
    font-size: clamp(0.75rem, 0.8vw + 0.45rem, 1.39rem);
    font-family:'IBM Plex Sans',monospace;
    font-weight:500;

    cursor: pointer;
    color: var(--inicio-btn1_texto);
    background-color: var(--inicio-btn1_fundo);

    transition: transform 0.3s;
}


#inicio a:link,
#inicio a:visited,
#inicio a{
   color: var(--inicio-btn1_texto);
    background-color: var(--inicio-btn1_fundo);
}



#inicio a:nth-of-type(2),
#inicio a:nth-of-type(2):visited,
#inicio a:nth-of-type(2):link{
border:1.5px solid var(--inicio-btn2_texto);
color:var(--inicio-btn2_texto);
background-color: var(--inicio-btn2_fundo);
}



#inicio a:hover{
     transform: scale(0.95);
}



@media(max-width:685px){

    #inicio .section-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    #text{
        width:100%;
         text-align: left;
         margin-top:10%;
         font-size:0.9em;
    }

    #inicio h3{
        width: 100%;
        margin-bottom:2.5%;
    }

    #inicio .cargo {
     align-self:center;
     justify-content: center;
     margin-top:0.1rem;
     margin-bottom:1.3rem;
    }

    #inicio .section-container img{
        width: clamp(12rem, 60vw, 19rem);
        position: relative;
        bottom:0;
    }

    #inicio a{
        width:100%;
    }
}
