#inicio{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    padding: 2%;
}

#text{
    width:70%;
    justify-items: left;
    display: flex;
    flex-direction: column;
}

#inicio h2{
    font-size:clamp(2.1rem, 2vw + 1rem, 2.9rem);
    color:var(--color-primary);
}
#inicio h1{
    font-size:clamp(2rem, 2.3vw + 1rem, 3.1rem);
    color:var(--color-primary)
}

#inicio h3{margin-top:0.8rem;
    width:60%;
    font-family:monospace;
    line-height: 1.6;
    color:var(--color-secondary);
    text-shadow:none;
    font-size:clamp(0.80rem, 1vw + 0.28rem, 1.5rem);
}

#inicio img{
    width: clamp(11rem, 28vw, 19rem);
    aspect-ratio:1/1;
    border-radius:50%;
    position: absolute;
    right:0;
    top:5%;
    box-shadow:1px 2px 15px var(--color-secondary);
}

#inicio a{
    border-radius:25px;
    border:2px solid var(--inicio-btn1_fundo);
    display:inline-block;
    min-width:20%;
    width:auto;

    margin-top:2%;
    margin-left:1%;
    padding:0.6em;

    text-align: center;
    text-decoration: none;
    font-size: clamp(1rem, 0.8vw + 0.4rem, 1.39rem);
    font-family:Source Code Pro,monospace;
    font-weight:500;

    cursor: pointer;
    color: var(--inicio-btn1_texto);
    background-color: var(--inicio-btn1_fundo);

    transition: transform 0.3s;
}

#inicio a:link,
#inicio a:visited {
   color: var(--inicio-btn1_texto);
    background-color: var(--inicio-btn1_fundo);
}



#inicio a:nth-of-type(2),
#inicio a:nth-of-type(2):visited,
#inicio a:nth-of-type(2):link{
border:2px solid var(--inicio-btn2_texto);
color:var(--inicio-btn2_texto);
background-color: var(--inicio-btn2_fundo);
}



#inicio a:hover{
     transform: scale(0.95);
}




@media(max-width:820px){
    #inicio a{
        max-width:90%;
    }
}


@media(max-width:685px){

    #inicio{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    #text{
        width:100%;
         text-align: left;
         margin-top:10%;
         font-size:0.9em;
    }

    #inicio h3{
        width: 100%;
        margin-bottom:2.5%;
    }

    #inicio img{
        width: clamp(12rem, 60vw, 19rem);
        position: relative;
        bottom:0;
    }

    #inicio a{
        width:100%;
        font-size:clamp(1rem, 0.8vw + 0.8rem, 1.39rem);
    }
}
